<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta Index="viewport" content="width=device-width, initial-scale=1.0">

  <!--      Css      -->
  <link href="assets/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/master.css" rel="stylesheet">

  <!--    JavaScript    -->
  <script src="src/Bootstrap/js/bootstrap.min.js" defer></script>
  <!--Use <script src="src/Vue/vue.prod.js" defer></script> for the production environment -->
  <script src="src/Vue/vue.js" defer></script>
  <script src="src/javascript/tablecreate.js" defer></script>
  <script src="src/javascript/tableview.js" defer></script>
  <script src="src/javascript/importexport.js" defer></script>


  <title>Fuse box labeling</title>
</head>

<body>

  <!-- First Vue Instance-->
  <div id="vOne" class="container">
    <template v-for="i in Tables">
      <div class="display-flex">
        <div class="input-group my-input" :class="{ displaynone: Visibility }">
          <input type="text" class="form-control my-input-font" v-model="InputValueThead[i]" @input="loadthead()">
        </div>
        <div class="my-table">
          <table class="table table-borderless table-number mt-3" :class="{ displaynone: Visibility }">
            <thead>
              <tr class="number-line">
                <template v-for="length in TablesLength-1">
                  <th class="line-point" @click="changetable(i, length)">*</th>
                </template>
              </tr>
            </thead>
          </table>
          <table class="table-bordered border-dark">
            <thead>
              <tr :style="{ background: BackGroundColor[i]}">
                <template v-for="Item in Items[i].Index">
                  <th :style="{ width: FontSize[i].Index[Item] + '%'}" class="my-table-tr">
                    <input type="text" class="my-input-thead" v-model="TheadValue[i].Index[Item]"
                      :style="{ background: BackGroundColor[i]}" @input="loadmyinputtheadvalue(i, Item)"
                      @dblclick="deletemyinputtheadvalue(i, Item)">

                  </th>
                </template>
              </tr>
            </thead>
            <tbody>
              <tr>
                <template v-for="Item in Items[i].Index">
                  <td :style="{ width: FontSize[i].Index[Item] + '%'}" class="my-table-tr">
                    <textarea class="my-textarea-tbody" v-model="TbodyValue[i].Index[Item]"></textarea>
                  </td>
                </template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
    <div :class="{ displaynone: Visibility }">
      <button type="button" class="btn btn-danger m-5" @click="removetable()">remove Tabelle</button>
      <button type="button" class="btn btn-success  m-5" @click="addtable()">add Tabelle</button>
      <button type="button" class="btn btn-dark  m-5" @click="printInfo()">Print</button>
    </div>
  </div>

  <!-- Second Vue Instance-->
  <div id="vTwo" class="container">
    <button type="button" class="btn btn-dark  m-5" @click="createtableview()">Create table view</button>
    <table class="table table-bordered border-dark mt-5">
      <thead>
        <tr>
          <th>Nummer</th>
          <th>Stromkreis</th>
          <th>Bezeichnung</th>
          <th>Absicherung</th>
          <th>Zuleitung</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="i in TableRow">
          <tr>
            <td>{{i}}</td>
            <td>{{TheadValue[i]}}</td>
            <td>{{TbodyValue[i]}}</td>
            <td>B16A</td>
            <td>3x15</td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>


  <input type="file" id="selectFiles" value="Import" /><br />


<!-- Third Vue Instance-->
<div id="vThree">
  <button type="button" class="btn btn-dark  m-5" @click="exportjsonfile()">export</button>
  <button type="button" class="btn btn-dark  m-5" @click="importjsonfile()">load</button>
  <button type="button" class="btn btn-dark  m-5" @click="log()">LOG</button>
</div>
</body>

</html>